<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>eCommerce</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script defer src="/js/base.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav id="nav-bar">
        <a href="/"><h1 id="furniture-express">Furniture Express</h1></a>
        <span class="nav-spans"></span>
        <a href="/" class="nav-btn">Home</a>
        <a href="/about" class="nav-btn">About</a>
        <a href="/products" class="nav-btn">Products</a>
        <span class="nav-spans"></span>
        <a href="/login" class="nav-btn">Login/Register</a>
        <a href="/cart"><em class="fas fa-shopping-cart" id="shopping-cart"></em></a>
        <a href=""><em class="fas fa-bars" id="menu-icon"></em></a>
    </nav>
