<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/about.css">


<div id="about-container">
    <div id="content-container">
        <img src="/images/woodtablesq.png" alt="" id="about-img">
        <div id="about-content">
            <h1>Our Story</h1>
            <div class="underline"></div>
            <h2 id="about-subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita aperiam quae, explicabo aut nostrum perferendis ipsum sequi labore. Voluptatibus deleniti suscipit nemo nisi praesentium amet reprehenderit dicta pariatur voluptatum rem sunt aliquid porro laborum, blanditiis sed sint maiores quae doloribus eos beatae culpa facilis! Sint adipisci vero totam minima reiciendis!</h2>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs') %>