<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/about.css">

<h1>About</h1>
<img src="/images/woodtable.jpeg" alt="" class="headline-img" id="wood-table">

<%- include('./partials/footer.ejs') %>