<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
<!-- Front Headline -->
<div class="front-headlines">
    <div class="headline-text">
        <h1 class="headline">Custom Furniture<br>For Your Home</h1>
        <h3 class="headline-subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit autem eum cumque, est, molestias modi possimus nisi corporis maiores laborum eius ipsum! Et necessitatibus odit vero fugit at voluptatibus similique quo tempora nihil? Exercitationem.</h3>
        <button id="shop-now">Shop Now</button>
    </div>
    <div>
        <img src="/images/woodtable.jpeg" alt="" class="headline-img" id="wood-table">
    </div>
</div>

<!-- Est -->
<div id="est-div">
    <div class="front-headlines fit-content remove-padding">
        <div>
            <img src="/images/carpenter.jpeg" alt="" class="headline-img">
        </div>
        <div class="headline-text">
            <h1 class="headline">Est. 2021</h1>
            <h3 class="headline-subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio quas voluptate unde quod alias impedit ipsa eaque perspiciatis hic voluptas mollitia.</h3>
        </div>
    </div>
</div>


<!-- Custom Products Info -->
<div id="custom-div">
    <div class="front-headlines fit-content">
        <h1 class="custom-furniture">Custom Furniture<br>Built For You</h1>
        <h3 class="small-subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et animi atque, <br> delectus unde asperiores doloribus molestiae! Vitae voluptatibus dolorem!</h3>
    </div>
    <div id="outer-box-container">
        <div id="box-container">
            <div class="boxes">
                <div class="icon-circle">
                    <em class="fas fa-drafting-compass"></em>
                </div>
                <h2 class="box-title">Mission</h2>
                <h3 class="box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi pariatur officiis officia dosta repudiandae, tenetur eveniet.</h3>
            </div>
            <div class="boxes">
                <div class="icon-circle">
                    <em class="fas fa-lightbulb"></em>
                </div>
                <h2 class="box-title">Vision</h2>
                <h3 class="box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsam veritatis cumque rem voluptatibus.</h3>
            </div>
            <div class="boxes">
                <div class="icon-circle">
                    <em class="fas fa-scroll"></em>
                </div>
                <h2 class="box-title">History</h2>
                <h3 class="box-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora aspernatur veniam distinctio neque ratione!</h3>
            </div>
        </div>
    </div>
</div>


<!-- PreFooter -->
<div id="prefooter">
</div>
<%- include('./partials/footer.ejs') %>