<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/products.css">

<div id="products-main-div">
    <div id="filters-container">
        <input type="text" placeholder="Search">
        <h2 id="category-title">Category</h2>
        <h3 class="category-filter">All</h3>
        <h3 class="category-filter">Living Room</h3>
        <h3 class="category-filter">Bedroom</h3>
        <h3 class="category-filter">Office</h3>
        <h3 class="category-filter">Dining</h3>
        <h3 class="category-filter">Kitchen</h3>
    </div>
    <hr id="hr-line">
    <h2 id="products-found">20 Products Found</h2>
</div>


<%- include('./partials/footer.ejs') %>