* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --nav-clr: #516a55;
  --primary-clr: #8673692d;
  --secondary-clr: #233a28;
  --tertiary-clr: #bba79c;
  --dark-btn: #233a28;
  --nav-chars: #fbfcff;
  --price-chars: rgba(165, 42, 42, 0.774);
  --nav-height: 80px;
  --footer-height: 60px;
}
a {
  text-decoration: none;
  color: black;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

/*================
Header/Navigation
================*/
#nav-bar {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-clr);
  height: var(--nav-height);
}
#furniture-express {
  color: var(--nav-chars);
  font-family: "Brush Script MT";
  font-size: 3rem;
  margin-left: 40px;
  width: max-content;
}
.nav-btn {
  color: var(--nav-chars);
  margin-right: 20px;
  padding: 5px;
  font-size: 1.2rem;
}
.nav-btn:hover {
  box-shadow: 0px 2px white;
}
#shopping-cart {
  color: var(--nav-chars);
  font-size: 1.5rem;
  margin-right: 40px;
}
#menu-icon {
  display: none;
  color: var(--nav-chars);
  margin-right: 40px;
  font-size: 2rem;
}
.nav-spans {
  flex-basis: 250px;
}

/*================
    Footer
================*/
#footer-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-clr);
  color: var(--nav-chars);
}
#copyright-tag {
  font-size: 1rem;
  font-weight: 100;
}

/*================
Media Queries
================*/
@media only screen and (max-width: 800px) {
  .nav-btn {
    display: none;
  }
  #shopping-cart {
    display: none;
  }
  #menu-icon {
    display: inline-block;
  }
}
