* {
  color: var(--nav-chars);
}
#controls-container,
.user-names,
.user-info,
.toggle-btn,
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=============
  Add Product
==============*/
textarea {
  resize: none;
  padding: 5px;
}
.add-product-container {
  height: fit-content;
  width: min-content;
  border-radius: 5px;
  background-color: var(--nav-clr);
  text-align: right;
  border: 7px solid var(--dark-btn);
}
.add-product-title {
  margin: 10px;
  text-align: center;
}
.align-center {
  text-align: center;
}
.margin {
  color: var(--flat-black);
  outline: none;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}
.margin-right {
  color: var(--flat-black);
  margin-right: 30px;
}
.underline {
  text-decoration: underline;
}
.margin-bottom {
  margin-bottom: 10px;
}

/* Upload Product Button */
.submit-btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  background-color: var(--dark-btn);
  width: 100%;
  height: 60px;
  border: 0px;
}

/*===========
  User Info
============*/
.user-container {
  overflow: auto;
  background-color: var(--nav-clr);
  max-height: 300px;
  border-radius: 5px;
  margin: 40px;
  padding-bottom: 40px;
  border: 7px solid var(--dark-btn);
}
.admin-title {
  display: block;
  margin: 10px;
  text-align: center;
}
.user-names {
  margin-top: 10px;
}
.admin-toggle {
  width: 100%;
  margin-left: 20px;
}
.user-info {
  margin: auto;
  padding: 5px 30px;
}
.toggle-btn {
  padding: 5px 10px;
  background-color: var(--dark-btn);
  border-radius: 3px;
  margin-right: 20px;
}

/*================
Media Queries
================*/
@media only screen and (max-width: 600px) {
  #controls-container {
    flex-direction: column;
    align-items: center;
  }
  .user-container {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 90px;
    margin-bottom: 200px;
  }
}
