#controls-container,
.user-names {
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea {
  resize: none;
  padding: 5px;
}

/*=============
  Add Product
==============*/
#add-product-container {
  height: fit-content;
  width: min-content;
  border-radius: 5px;
  background-color: var(--nav-clr);
  text-align: right;
  padding: 10px;
}
#add-product-title {
  margin: 10px;
  text-align: center;
}
#text-fields {
  text-align: center;
}
#images {
  text-align: center;
  margin: 10px;
}
.margin {
  outline: none;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}
.margin-right {
  margin-right: 30px;
}
.underline {
  text-decoration: underline;
}

/* Upload Button */
#submit-btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  color: var(--nav-chars);
  background-color: var(--flat-black);
  width: 100%;
  height: 60px;
  border: 0px;
  border-radius: 5px;
}
#submit-btn:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.384);
}

/*===========
  User Info
============*/
#user-container {
  overflow: auto;
  background-color: var(--nav-clr);
  max-height: 300px;
  border-radius: 5px;
  margin: 40px;
  padding: 10px;
  padding-bottom: 40px;
}
#admin-title {
  display: block;
  margin: 10px;
  text-align: center;
}
.user-names {
  margin-top: 10px;
}
#admin-toggle {
  width: 100%;
  margin-left: 20px;
}
#user-info {
  margin: auto;
  padding: 5px 30px;
}
#toggle-btn {
  padding: 5px 10px;
  color: var(--nav-chars);
  background-color: var(--flat-black);
  border-radius: 3px;
  margin-right: 20px;
}

/*================
Media Queries
================*/
@media only screen and (max-width: 600px) {
  #controls-container {
    flex-direction: column;
    align-items: center;
  }
  #user-container {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 90px;
    margin-bottom: 200px;
  }
}
