#main-container {
  display: flex;
  justify-content: center;
  margin-top: var(--margin-top);
  padding-bottom: calc(var(--footer-height) + 40px);
}
input {
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: 0px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

/* Search Area */
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-15px);
  margin-bottom: 40px;
}
#search-container div {
  position: relative;
  width: 1100px;
}
#search-container input {
  position: absolute;
  inset: 0px;
  width: 100%;
  margin: 0px;
}
.fa-magnifying-glass {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: var(--nav-clr);
  padding: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  cursor: pointer;
}
#hr-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
#hr-container hr {
  width: 1100px;
}

/* Filters */
.filters-container {
  margin: 20px;
  margin-top: 0px;
}
#category-title {
  margin: 20px;
  font-size: 1.7rem;
}
.category-filter {
  font-weight: 100;
  margin: 10px;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
}

/* Products Container */
.products-container {
  max-width: 975px;
}
.product-info {
  display: inline-block;
  margin: 10px;
}
.product-img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
.title-price {
  display: flex;
  justify-content: space-between;
}
.product-title {
  font-weight: 100;
  margin: 5px;
  color: var(--nav-chars);
}
.product-price {
  font-weight: 100;
  color: var(--price-chars);
  margin: 5px;
}

/*================
Media Queries
================*/
@media only screen and (max-width: 620px) {
  #products-main-div {
    flex-direction: column;
    text-align: center;
    padding-top: calc(var(--nav-height) + 20px);
  }
  .top-line,
  .category-filter,
  #category-title {
    display: none;
  }
  .filters-container {
    padding-bottom: 10px;
  }
}
